.env
*.key
*.pem
*.tfstate
*.tfstate.*
.terraform/
.ansible/
.DS_Store
ansible/host_vars/*.secret.yml
ansible/host_vars/*.yml
ansible/hosts.ini
ansible/inventory/hosts.ini
.vault_pass
terraform.tfvars
terraform/terraform.tfvars
terraform-cloudflare/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.*
tmp/
__pycache__/
*.pyc
.htdigest
