.env
*.key
*.pem
.DS_Store
.ansible/
__pycache__/
*.pyc
.htdigest

# Ansible local files
ansible/host_vars/*.secret.yml
ansible/host_vars/*.yml
ansible/hosts.ini
ansible/inventory/hosts.ini
.vault_pass

# Terraform local files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.tfvars
terraform/terraform.tfvars
terraform-cloudflare/terraform.tfvars
terraform/terraform.tfstate
tmp/
