[Unit]
Description=Port Forward Control Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 {{ portctl_agent_path }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
