# Default config for Suricata
RUN={{ suricata_run }}
SURCONF={{ suricata_yaml_path }}
LISTENMODE={{ suricata_listenmode }}
IFACE={{ suricata_interface }}
NFQUEUE=0
TCMALLOC="YES"
PIDFILE={{ suricata_pidfile }}
